# Built-in Functions

Los objetivos de aprendizaje son:

1. ¿Qué son las Built-in Functions?.
2. Más Ejemplos.

## ¿Qué son las Built-in Functions?.

Son funciones *pre-instaladas* de python.

Hasta ahora hemos visto:

* `range()`: crea una secuencia de valores numéricos.
* `enumerate()`: indexa los valores de un iterable.
* `isinstance()`: Verifica si un objeto es instancia de una clase.
* `len()`: regresa al usuario la longitud (número de elementos) de una secuencia.
* `input()`: Permite al usuario ingresar valores.


### Más ejemplos.

### abs()

Regresa al usuario el valor absoluto de un número.

In [1]:
x = -8.3
abs(x)

8.3

In [2]:
x = 6
abs(x)

6

### min()

Regresa el elemento con el valor menor dentro de un iterable

In [3]:
lst = [1, 4, 0]
min(lst)

0

In [4]:
s = "hola"
min(s)

'a'

In [5]:
t = (True, False)
min(t)

False

### max()

Regresa el elemento con el valor mayor dentro de un iterable

In [6]:
lst = [1, 4, 0]
max(lst)

4

In [7]:
s = "hola"
max(s)

'o'

In [8]:
t = (True, False)
max(t)

True

### sum()

Suma los elementos dentro de un iterable

In [9]:
lst = [1, 4, 0]
sum(lst)

5

In [10]:
t = (True, False)
sum(t)

1

### round()

regresa un número redondeado a `n` dígitos.

In [11]:
round(1.5)

2

In [12]:
round(2.786,2)

2.79

In [13]:
round(110,-2)

100

### Módulo random

In [14]:
from random import shuffle
lst = [1,2,3,4,5,6]

In [15]:
shuffle(lst)

In [16]:
lst

[5, 2, 3, 6, 4, 1]

In [17]:
from random import randint

randint(0, 100)

88

In [18]:
randint(0, 100)

92

In [19]:
from random import seed
seed(27)
randint(0, 100)

83

In [20]:
seed(27)
randint(0, 100)

83

In [23]:
from random import sample
sample(lst, 2)

[5, 1]

In [24]:
lst

[5, 2, 3, 6, 4, 1]

### reversed()

Invierte el orden de un iterable

In [25]:
lst = [1, 6, 8, 0]
lst

[1, 6, 8, 0]

In [26]:
reversed(lst)

In [27]:
list(reversed(lst))

[0, 8, 6, 1]

### Zip()

Regresa un iterable construido a partir de dos iterables, en donde cada elemento tendrá la forma de una tupla.

In [29]:
lst_1 = ["a", "b" , "c"]
lst_2 = ["e", "f" , "g"]

In [30]:
zip(lst_1, lst_2)

In [31]:
list(zip(lst_1, lst_2))

[('a', 'e'), ('b', 'f'), ('c', 'g')]

In [32]:
dict(zip(lst_1, lst_2))

{'a': 'e', 'b': 'f', 'c': 'g'}

In [33]:
lst_zip = list(zip(lst_1, lst_2))
lst_zip

[('a', 'e'), ('b', 'f'), ('c', 'g')]

Al combinar la función `zip()` con el operador `*`, podemos invertir su función:

In [34]:
x, y = zip(*lst_zip)
x

('a', 'b', 'c')

### eval()

Admite una cadena de texto y evalúa esta, tal y como si se tratase de un comando Python.

In [ ]:
eval("2 + 4")

In [ ]:
x = 1
eval("x + 1")

In [ ]:
eval(" x == 1")

Existen más *Built-in Functions*, recomiendo mirar la documentación oficial de Python [aquí](https://docs.python.org/3/library/functions.html#filter)